body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
  }

  .forgot-password-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .form-wrapper {
    background-color: white;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
  }

  .form-wrapper h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
  }

  .input-group {
    margin-bottom: 20px;
  }

  .input-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  .button-group {
    text-align: center;
  }

  .button-group button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background-color: #3db3b3;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .button-group button:hover {
    background-color: #3db3b3;
  }

  .back-link {
    text-align: center;
    margin-top: 20px;
  }

  .back-link a {
    color: #3db3b3;
    text-decoration: none;
  }

  .back-link a:hover {
    text-decoration: underline;
  }

  /* Success Message */
  .success-message {
    background-color: #d4edda;
    color: #155157;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #c3e6cb;
    display: none; /* Hide by default */
  }